# autotools output
/config/
/config.h
/config.h.in
/config.log
/config.status
/configure
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/stamp-h1
*.o
*.a
.deps/
.dirstamp
/src/cursynth
/src/Makefile
/src/Makefile.in
/cJSON/Makefile
/cJSON/Makefile.in
/doc/Makefile
/doc/Makefile.in
/doc/*.info
/doc/stamp-vti
/doc/version.texi
/doc/mdate-sh
/doc/texinfo.tex
/po/*.gmo
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/stamp-po
/po/*.header
/po/*.sed
/po/*.sin
/po/Rules-quot
/po/Makevars.template
/po/*.m4
/m4/
/ABOUT-NLS
/config.rpath
/rtaudio/Makefile
/rtaudio/config.log
/rtaudio/config.status
/rtaudio/configure
/rtaudio/rtaudio-config
/rtmidi/Makefile
/rtmidi/config.log
/rtmidi/config.status
/rtmidi/configure
/rtmidi/rtmidi-config
/rtmidi/tests/
/mopo/Makefile
/mopo/Makefile.in
/mopo/config.log
/mopo/config.status
/mopo/configure
/mopo/aclocal.m4
/mopo/config.h
/mopo/config.h.in
/mopo/stamp-h1
/mopo/autom4te.cache/
/mopo/config/
/mopo/src/Makefile
/mopo/src/Makefile.in

# autotools helper scripts that autoreconf -i drops in the tree
/ar-lib
/compile
/config.guess
/config.sub
/configure~
/depcomp
/install-sh
/missing
/rtaudio/Makefile.in
/rtaudio/aclocal.m4
/rtaudio/autom4te.cache/
/rtaudio/config/
/rtaudio/tests/Makefile
/rtmidi/Makefile.in
/rtmidi/aclocal.m4
/rtmidi/autom4te.cache/
/rtmidi/config/
/tests/Makefile
/tests/Makefile.in
/tests/test_wave
/tests/*.log
/tests/*.trs
/test-driver
/lv2/Makefile
/lv2/Makefile.in
/lv2/gen_ttl
/lv2/cursynth.lv2/
/lv2/*.o
/tests/test_lv2
